---
title: Boilerplate web store: proudly powered by Contentful, Middleman & Snipcart
---

<div class="row text-center column">
    <h1>
      <%= product.productName %>
    </h1>
</div>

<div class="row">
  <div class="large-6 small-12 columns text-center">
    <% product.image.each do |image| -%>
        <%= image_tag(image.url, :alt => image.title, class: "thumbnail")%>
    <% end -%>
    <br />
    <%= snipcart_button product, "Add to cart" %>
  </div>

  <div class="large-6 small-12 columns">
    <p>
      <%= product.productDescription %>
    </p>
    <div>
      <%= number_to_currency(product.price, :unit => "$") %>
    </div>
  </div>

  <!-- Include Snipcart -->
  <%= javascript_include_tag  "https://app.snipcart.com/scripts/snipcart.js",
                              :id => "snipcart",
                              :"data-api-key" => ENV["SNIPCART_API_KEY"] %>

</div>


